
body {
    background: #003366 !important;
    background-color: #003366 !important;
    background-position:right bottom !important;
    background-repeat:repeat-y !important;
    background-attachment:fixed !important; 
}

/*

.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page {
    overflow: visible !important;
}

.ui-page * {    
		-webkit-backface-visibility: hidden !important;
		   -moz-backface-visibility: hidden !important;
		    -ms-backface-visibility: hidden !important;
		     -o-backface-visibility: hidden !important;
		        backface-visibility: hidden !important;
}

.ui-page * {    
		-webkit-backface-visibility: visible !important;
		   -moz-backface-visibility: visible !important;
		    -ms-backface-visibility: visible !important;
		     -o-backface-visibility: visible !important;
		        backface-visibility: visible !important;
}

*/

.ui-header .ui-btn-left {
	margin-top: 0px; /* pre jqm 1.1 (post jqm 1.1: 3px)*/
}

.ui-li-has-arrow .ui-btn-inner a.ui-link-inherit, 
.ui-li-static.ui-li-has-arrow {
	padding-right: 0px;
}

/*.ui-icon-loading{
	background:url(images/ajax-loader_digi-transparent.gif) !important;
}*/

.ui-page {    
	background: url('images/320x480_90_DIGI-WebApp.png');
    background-color: #003366 !important;
    background-position:right bottom !important;
    background-repeat:repeat-y !important;
    background-attachment:fixed !important; 
}

.w320 { background: url('images/320x480_90_DIGI-WebApp.png'); background-position:right bottom !important; background-repeat:repeat-y !important; background-attachment:fixed !important;}
.w480 { background: url('images/480x800_90_DIGI-WebApp.png'); background-position:right bottom !important; background-repeat:repeat-y !important; background-attachment:fixed !important;}
.w640 { background: url('images/640x960_90_DIGI-WebApp.png'); background-position:right bottom !important; background-repeat:repeat-y !important; background-attachment:fixed !important;}
.w1024 { background: url('images/1024x1024_90_DIGI-WebApp.png'); background-position:right bottom !important; background-repeat:repeat-y !important; background-attachment:fixed !important;}
.w1536 { background: url('images/1536x2048_90_DIGI-WebApp.png'); background-position:right bottom !important; background-repeat:repeat-y !important; background-attachment:fixed !important;}

.infoLabel a, 
.infoLabel a:hover, 
.infoLabel a:active, 
.infoLabel a:visited {
    text-decoration: underline;
    color: #FFFFFF !important;
    font-weight: normal !important;
}

/* SPLASH SCREEN STYLES */
.appTitle {
    font-size: 3.0em;
    font-weight:800;
    text-align: center;
    margin-top:20%;
}

.infoBox {
    text-align: center;
}

.infoMsg {
}

.logoInfoPage {
    width: 100%;
}

.logoSplashPage {
	display: block;
    width: 92%;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto
}

/* END OF SPLASH SCREEN STYLES */

img.photo {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 75%;
}

img.audioIcon {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 75%
}

[data-role="content"] {
    text-shadow: none;
}

/* custom button */
[data-theme="digiButton"] {
    moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    border: 1px solid #000000;
}

[data-theme="digiButton"] span.ui-btn-inner {
    moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.ui-content .digiButton {
    position: relative;
    height: 40px;
}

.ui-content .digiButton .icon {
    position: absolute;
    top: -5px;
    right: 0px;
    width: 50px;
    height: 50px;
}

.ui-content .digiButton .icon img {
    width: 50px;
    height: 50px;
}

.ui-content .digiButton.hack .icon {
    top: -25px;
}

label.ui-input-text, .ui-controlgroup-label {
	color: #ffffff;
}

.header {
    font-size: 20px;
    border: 0px;
    height: 40px;
    padding-top: 5px;
}

.dashboardPage .ui-content .ui-grid-b {
    text-align: center;
    font-size: 12px;
}

.dashboardPage .ui-content .ui-grid-b img {
    max-width: 64px;
    max-height: 64px;
}

.dashboardPage .ui-content li {
    border:  none;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    padding-left: 64px;
    min-height: 36px;
    height: 36px;
    padding-top: 16px;
    text-shadow: none;
    background: url('images/arrow_white.png') 100% 50% no-repeat;
}

.dashboardPage .ui-content li.selected {
    background: #BCBCBC url('images/arrow_white.png') 100% 50% no-repeat;
    color: #FFFFFF;
}

.dashboardPage .ui-content .ui-grid-b:nth-child(3) {
    margin-top: 20px;
}

.dashboardPage .ui-content li:nth-child(1), 
.dashboardPage .ui-content li:nth-child(2) {
    background: none;
}

.dashboardPage .ui-content li:nth-child(1).selected, 
.dashboardPage .ui-content li:nth-child(2).selected {
    background: #BCBCBC;
}

.dashboardPage .ui-content li img {
    width: 32px;
    margin-left: 15px;
    margin-top: 10px;
}

/* mediaListPage */
.actionsList .ui-content {
    background: url('images/arrow_white.png') 100% 50% no-repeat !important;
    background-image: url('images/arrow_white.png') 100% 50% no-repeat !important;
}

.actionsList .ui-body-c {
    border:  none;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    padding-left: 64px;
    min-height: 36px;
    height: 36px;
    padding-top: 16px;
    text-shadow: none;
    background: url('images/arrow_white.png') 100% 50% no-repeat;
}

.actionsList .ui-body-c li {
    border:  none;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    padding-left: 64px;
    min-height: 36px;
    height: 36px;
    padding-top: 16px;
    text-shadow: none;
    background: url('images/arrow_white.png') 100% 50% no-repeat;
}

.actionsList .ui-li-thumb {
    width: 32px;
    margin-left: 15px;
    margin-top: 10px;
}

.actionsList .ui-body-c li.selected {
    background: #BCBCBC url('images/arrow_white.png') 100% 50% no-repeat;
    color: #FFFFFF;
}

.actionsList .ui-body-c .ui-grid-b {
    text-align: center;
    font-size: 12px;
}

.actionsList .ui-body-c .ui-grid-b img {
    max-width: 64px;
    max-height: 64px;
}

.mediaListPage .mediafilesList .ui-listview li {
    padding-left: 0.7em;
}

.mediaListPage .mediafilesList .ui-listview .date {
    font-size: 12px;
    margin-bottom: 10px;
    color: #000000 !important;
}

.mediaListPage .mediafilesList .ui-listview .application, 
.mediaListPage .mediafilesList .ui-listview .position, 
.mediaListPage .mediafilesList .ui-listview .activity, 
.mediaListPage .mediafilesList .ui-listview .location {
    font-size: 12px;
    font-weight: normal;
    margin-left: 25px;
    color: #000000;
}

/* demoMediaPage */
.demoMediaPage .ui-content li {
    border:  none;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    padding-left: 64px;
    min-height: 36px;
    height: 36px;
    padding-top: 16px;
    text-shadow: none;
    background: url('images/arrow_white.png') 100% 50% no-repeat;
}

.demoMediaPage .ui-content li img {
    width: 32px;
    margin-left: 15px;
    margin-top: 10px;
}

.demoMediaPage .ui-content li.selected {
    background: #BCBCBC url('images/arrow_white.png') 100% 50% no-repeat;
    color: #FFFFFF;
}

.demoMediaPage .ui-content .ui-grid-b {
    text-align: center;
    font-size: 12px;
}

.demoMediaPage .ui-content .ui-grid-b img {
    max-width: 64px;
    max-height: 64px;
}

/* bookTimePage */
.bookTimePage .ui-content .ui-grid-a .ui-block-a {
    width: 85%;
}

.bookTimePage .ui-content .ui-grid-a .ui-block-a label {
    width: 100%;
    font-weight: bold;
}

.bookTimePage .ui-content .ui-grid-a .ui-block-a div.ui-select {
    width: 100%;
}
.bookTimePage .ui-content .ui-grid-a .ui-block-b {
    width: 15%;
    padding-top: 28px;
    text-align: right;
}
.bookTimePage .ui-content .ui-grid-a:nth-child(3) {
    margin-bottom: 20px;
}


/* employeePage */
.employeePage .ui-content .ui-grid-a .ui-block-a {
    width: 85%;
}

.employeePage .ui-content .ui-grid-a .ui-block-a label {
    width: 100%;
    font-weight: bold;
}

.employeePage .ui-content .ui-grid-a .ui-block-a div.ui-select {
    width: 100%;
}

/* infoPage */
.infoPage .ui-content .ui-grid-a .ui-block-a {
    width: 85%;
}

.infoPage .ui-content .ui-grid-a .ui-block-a label {
    width: 100%;
    font-weight: bold;
}

.infoPage .ui-content .ui-grid-a .ui-block-a div.ui-select {
    width: 100%;
}

.infoLabel {
    font-size: 1.1em;
    color: #ffffff;
}

/* handApplicationPage */
.handApplicationPage [data-role="content"] div:nth-child(2) {
    margin-top: 20px;
}
.handApplicationPage .ui-content input {
    margin-bottom: 50px;
}

/* timeDataPage & remarkPage */
.timeDataPage .sentBookings .ui-listview {
	background: #003366 !important;
	font-style: italic !important;
    padding-left: 0.7em;
}

.remarkPage .ui-listview li {
    padding-left: 0.7em;
    margin-bottom: 30px;
}

.timeDataPage .ui-listview li {
    padding-left: 0.7em;
}

.timeDataPage .ui-listview .date, 
.remarkPage .ui-listview .date {
    font-size: 12px;
    margin-bottom: 10px;
    color: #000000 !important;
}

.timeDataPage .ui-listview .application, 
.timeDataPage .ui-listview .position, 
.timeDataPage .ui-listview .activity, 
.timeDataPage .ui-listview .location, 
.timeDataPage .ui-listview .remark, 
.remarkPage .ui-listview .application, 
.remarkPage .ui-listview .position, 
.remarkPage .ui-listview .activity, 
.remarkPage .ui-listview .location, 
.remarkPage .ui-listview .remark {
    font-size: 12px;
    font-weight: normal;
    margin-left: 25px;
    color: #000000;
}

/* orderInfoPage */
.orderInfoPage .ui-listview li {
    padding-left: 0.7em;
    margin-left: 20px;
    margin-right: 20px;
}

.orderInfoPage .ui-listview .orderName, 
.orderInfoPage .ui-listview .positionName {
    font-weight: bold;
    margin-left: 20px;
    color: #000000 !important;
}

.orderInfoPage .ui-listview .orderName {
    font-size: 18px;
}

  .orderInfoPage .ui-listview .positionName
, .orderInfoPage .ui-listview .positionEmail
, .orderInfoPage .ui-listview .positionEmail a
, .orderInfoPage .ui-listview .positionEmail a:hover
, .orderInfoPage .ui-listview .positionEmail a:active
, .orderInfoPage .ui-listview .positionEmail a:visited
{
    font-size: 12px !important;
    font-weight: bold;
    color: #000000 !important;
}

.orderInfoPage div.ui-btn-text {
	margin-top: 10px;
}

/* anwesenheitslistePage */
.anwesenheitslistePage .ui-listview { 
    font-size: 12px;
    color: #000000 !important;
}

.anwesenheitslistePage .ui-listview .bold {
    font-weight: bold;
}

.anwesenheitslistePage .ui-listview .normal { 
    font-weight: normal;
}

/* zeitbuchungenPage */
.zeitbuchungenPage .ui-listview { 
    font-size: 12px;
    color: #000000 !important;
}

.zeitbuchungenPage .ui-listview .bold {
    font-weight: bold;
}

.zeitbuchungenPage .ui-listview .normal { 
    font-weight: normal;
}

/* settingsPage */
.settingsPage input[type="text"], 
.settingsPage input[type="password"], 
.settingsPasswordPage input[type="text"], 
.settingsPasswordPage input[type="password"] {
    width: 90%;
}

.settingsPage .ui-content .ui-block-a, 
.settingsPasswordPage .ui-content .ui-block-a {
    font-size: 14px;
    padding-top: 10px;
    color: #FFFFFF;
    margin-top: 0px;
}

.settingsPage .ui-content .ui-grid-a, 
.settingsPasswordPage .ui-content .ui-grid-a {
    margin-bottom: 10px;
}

.settingsPage .ui-content .lastSelectBox_container, 
.settingsPasswordPage .ui-content .lastSelectBox_container {
    margin-bottom: 10px;
}

/* IOS LIKE FOOTER / TABBAR */
.ui-footer {
    border-color: #0d0d0d;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #000000), color-stop(0.51, #000000), color-stop(0.5, #151515), color-stop(0, #2d2d2d));
}

.ui-footer .ui-btn {
    border: 0 none;
    background: transparent;
}

.ui-footer .ui-btn-active {
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    background: none rgba(255, 255, 255, 0.14);
}

.ui-footer .ui-btn-inner {
    border-color: #434343;
    padding: 0px !important;
    padding-top: 32px !important;
}

.ui-footer .ui-btn-text {
    font-size: 10px;
    text-shadow: 0 none;
}

.ui-footer .ui-icon {
    width: 32px;
    height: 32px;
    margin-left: -16px !important;
    margin-top: -3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-icon-book:after,
.ui-icon-book,
[data-icon=book] .ui-icon {
    background: url(images/tabSprite.png) 0 0 no-repeat;
}

.ui-btn-active .ui-icon-book:after,
.ui-btn-active .ui-icon-book,
[data-icon=book].ui-btn-active .ui-icon {
    background: url(images/tabSprite.png) -32px 0 no-repeat;
}

.ui-icon-menu:after,
.ui-icon-menu,
[data-icon=menu] .ui-icon {
    background: url(images/tabSprite.png) 0 -32px no-repeat;
}

.ui-btn-active .ui-icon-menu:after,
.ui-btn-active .ui-icon-menu,
[data-icon=menu].ui-btn-active .ui-icon {
    background: url(images/tabSprite.png) -32px -32px no-repeat;
}

/* allgemeine Klassen */
div.ui-select {
    margin-bottom: 10px;
}

label.ui-select {
	color: #ffffff;
}

option.ui-select {
	color: #00000 !important;
}

li.ui-li {
	color: #ffffff;
}

.whiteLabel {
    color: #ffffff;
    font-size:0.9em;
}

.marginTop40 {
    margin-top: 40px;
}

.marginTop20 {
    margin-top: 20px;
}

.marginTop25 {
    margin-top: 25px;
}

.marginBottom50 {
    margin-bottom: 50px;
}

.marginBottom25 {
    margin-bottom: 25px;
}

.marginBottom20 {
    margin-bottom: 20px;
}

.marginBottom12 {
    margin-bottom: 12px;
}

.ui-navbar {
    height: 47px;
}

.signaturecanvaslabel {
	font-size: 16px !important;
    color: #FFFFFF !important;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-style: normal !important;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.signaturecanvas {
	margin-left: auto;
	margin-right: auto;
	width: 290px;
	height: 160px;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.tmp-dialog {
	background-color: #003366; 
}

.tmp-dialog-header {
	height: 15%;
}

.tmp-dialog-content {
	height: 45%;
}

*.unselectable, 
.unselectable_container {
/*   
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
*/
}

.imageCanvas {
	border: 3px solid #fff;
	display: block;
    margin-left: auto;
    margin-right: auto; /**/
}

.imageContainer {
/*	border: 3px solid #fff; 
	display: block;
    margin-left: auto;
    margin-right: auto; */
}

.demophoto {
	width: 80%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}